.articleCategorySelector {
    display: flex;
    gap: 5%;
    font-size: 20px;
}

.articleCategoryAll {
    cursor: pointer;
    color: #6390C3;
}

.articleCategoryAll:hover {
    color: rgb(0, 0, 0, 0.5) !important;
}

.articleCategoryProjects {
    cursor: pointer;
    color: black;
}

.articleCategoryProjects:hover {
    color: rgb(0, 0, 0, 0.5) !important;
}

.articleCategoryTutorials {
    cursor: pointer;
    color: black;
}

.articleCategoryTutorials:hover {
    color: rgb(0, 0, 0, 0.5) !important;
}
