/* This is a test comment */

@font-face {
    font-family: Kollektif-Bold;
    src: url(/src/assets/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif;
    src: url(/src/assets/Kollektif.ttf);
}

.articleFeaturedContainer {
    width: 50%;
    max-width: 1500px;
    margin-left: 200px;
}

.articleFeaturedCategory {
    position: relative;
    text-align: left;
    font-family: Kollektif;
    font-size: 35px;
    font-weight: bold;
    top: 23px;
    z-index: 1;
    padding: 0px 10px 0px 10px;
    color: white;
    margin: auto;
}

.articleFeaturedFeaturedContainer {
    position: relative;
    width: 100%;
    height: 60%;
    z-index: 0;
    padding: 40px 0px 40px 0px;

}

.buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.articleFeaturedLeftButton {
    margin-left: 5%;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: #999ca3;
    z-index: 1;
    transition: transform 250ms, opacity 400ms;
    transition-timing-function: linear;
}

.articleFeaturedRightButton {
    margin-left: 5%;
    font-size: 3em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    color: #999ca3;
    z-index: 1;
    transition: transform 250ms, opacity 400ms;
    transition-timing-function: linear;
}

.articleFeaturedRightButton:hover{
    color: #000000;
    transition: -webkit-transform 0.5s linear;
    transform: scale(1.3);
}

.articleFeaturedLeftButton:hover{
    color: #000000;
    transition: -webkit-transform 0.5s linear;
    transform: scale(1.3);
}


.articleFeaturedPostContainer {
    position: relative;
    width: 100%;
    display: flex;
    transition: 2s
}

.articleFeaturedPostImage {
    width: 100%;
    height: 550px;
    object-fit: cover;
    border-radius: 40px 40px 40px 40px;
    margin: auto
}

.articleFeaturedPostTextContainer {
    width: 40%;
    height: 550px;
    background-color: #000000;
    opacity: 0.7;
    z-index: 1;
    position:absolute;
    border-radius: 0 40px 40px 0;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 3%;
    bottom: 0px;
    right: 0px;
}

a:link {
    text-decoration: none;
}

.articleFeaturedPostTitle {
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5%;
    opacity: 1;
}

.articleFeaturedPostText {
    font-size: 15px;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 14;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 15%;
    text-align: center;
    font-size: large;
}

.readMore{
    margin-top: 100px;
    color: #cccbff;
    font-size: 23px;
}

.articleFeaturedPostButton {
    float: center;
    font-size: 30px;
    margin-left: 20%;
    cursor: pointer;
    margin-top: 10%;
    background-color: rgb(255, 255, 255, 0.5);
    border-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: rgb(255, 255, 255, 0.5);
    box-shadow: 5px 5px 0px 0px rgb(0, 0, 0, 0.5);
    transition: 0.5s
}

.articleFeaturedPostButton:hover {
    color: rgb(255, 255, 255, 0.8);
    background-color: rgb(255, 255, 255, 0.7);
    border-color: rgb(255, 255, 255, 0.3);
}