.articleHorizontalContainer {
    margin-left: 5%;
    margin-bottom: 5%
}

.articleHorizontalPost {
    display: flex;
    flex-wrap: nowrap;
    grid-column-gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    cursor: grab;
    z-index: 3
}

.articleHorizontalCategory {
    font-size: 35px;
    font-weight: bold;
    top: 23px;
    z-index: 1;
    background-color: white;
    width: fit-content;
    padding: 0px 10px 0px 10px;
    color: #2b2831;
}

.articleHorizontalHorizontal {
    position: relative;
    background-color: #9E81DD;
    border-radius: 30px;
    width: 90%;
    z-index: 0;
    padding: 20px 20px 20px 20px;
}

