.articleSearchButton {
    position: relative;
    border-radius: 100px;
    padding: 2px;
    background-color: #e0bbff;
    border-color: #E5E5E5;
    border-width: 2px;
    width: 50px;
    height: 50px;
    z-index: 1;
    border: none;
    box-shadow: 2px 2px 0px 0px rgb(0, 0, 0, 0.5);
}

.articleSearchButton:active {
    width: 46px;
    height: 46px;
    top: 2px;
    left: 2px;
    margin-bottom: 4px;
}

.articleSearchIcon {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.articleSearchContainer {
    position: relative;
    display: flex;
    width: fit-content;
}

.articleSearchTextField {
    position: relative;
    top: 25%;
    left: -23px;
    height: 30px;
    width: 200%;
    z-index: 0;
    border-radius: 100px;
    padding-left: 25px;
}