:root {
    --font-size: 15px;
    --post-width: 25vw;
}

@font-face {
    font-family: Kollektif-Bold;
    src: url(/src/assets/Kollektif-Bold.ttf);
}

@font-face {
    font-family: Kollektif;
    src: url(/src/assets/Kollektif.ttf);
}

.articleThumbVertLinkBox {
    text-decoration: none;
}

.articleThumbVertLinkBox:hover {
    color: #878787;
}

.articleThumbVertImage {
    position: relative;
    width: var(--post-width);
    height: calc(var(--post-width) * 3 / 4);
    border-radius: 10px;
}

.articleThumbVertContainer {
    text-align: center;
    z-index: 1;
}

.articleThumbVertTitle {
    font-size: 1vw;
    font-weight: bold;
    color: #343347;
    text-align: left;
    margin: auto;
    width: calc(var(--post-width) - 20px);
    margin-top: 8px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.type{
    color: #493ffc;
    text-align: left;
    margin: auto;
    width: calc(var(--post-width) - 20px);
    margin-top: 15px;
    padding-bottom: 5px;
}

.articleThumbVertAuthor {
    font-size: var(--font-size);
    color: white;
    margin-top: 15px;
    margin-bottom: 3px;
    margin-left: 10px;
}

.articleThumbVertDate {
    margin-top: 15px;
    margin-left: 10px;
    color: white;
    font-family: Kollektif;
    font-size: var(--font-size);
}

.articleThumbVertCategory {
    font-size: var(--font-size);
    color: rgb(0, 0, 0, 0.5);
    position: relative;
    margin: 0px;
    margin-right: 20%     
}

.articleThumbVertAuthorImage {
    width: calc(var(--font-size) * 1.25 + 4px * 5);
    height: calc(var(--font-size) * 1.25 + 3px * 5);
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 100px;
}

.articleThumbVertAuthorDateContainer{
    display: flex;
}

.articleThumbVertAuthorContainer {
    position: relative;
    margin: auto;
    display: flex;
    max-width: var(--post-width);
}

div::-webkit-scrollbar-track {
    border-radius: 10px;
}

div::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: rgb(0, 0, 0, 0.5);
}