.articleVerticalContainerContainer {
    position: relative;
    margin-left: 2%;
    margin-bottom: 5%;
    margin-right: -10%;
    max-width: 100%;
}

.articleVerticalContainerCategory {
    position: relative;
    text-align: left;
    font-family: Kollektif;
    font-size: 35px;
    font-weight: bold;
    top: calc(35px / 2 + 5px);
    z-index: 1;
    width: fit-content;
    left: 5%;
    padding: 0px 10px 0px 10px;
    color: white ;
}

.articleVerticalContainerVerti {
    position: relative;
    width: fit-content;
    padding: 40px 20px 30px 20px;
    display: flex;
    flex-direction: column;
}

.articleVerticalContainerPost {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: space-between;
    height: 560px;
}

