body {
  background-color: white; 
  z-index: -1000;
}

.articleTopContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 4%;
  width: 80%;
}

.articleMiddleContainer {
  position: relative;
  display: flex;
  width: 80%;
  left: 5%;
  gap: 10%;
  justify-content: space-between;
}

.searchbarContainer {
  display: flex;
  justify-content: right;
  margin: 30px;
  margin-right: 15%;
  padding-top: 50px;
}