.about-blurb {
  font-size: 1.8rem;
  width: 50%;
  color: #fff;
  background-color: var(--dark-bg-color);
  box-shadow: 10px 15px var(--accent-color);
  margin: 2em auto;
  padding: 1em;
}
.about-blurb img {
  height: 1em;
}
.about-blurb p.quote {
  margin-top: 1em;
}

.reveal.about {
  background: linear-gradient(
    transparent 0%,
    transparent 49.9%,
    #6c63ff 50%,
    #6c63ff 100%
  );
}

.about-link div {
  border: 3px solid #493ffc;
  color: #493ffc;
  text-transform: uppercase;
  padding: 0.5rem;
  padding-left: 0.75rem;
  margin-top: 0.5em;
  transition: 200ms;
  cursor: pointer;
  white-space: nowrap;
  line-height: 2;
  font-size: 1.8rem;
}

.about-link div:hover {
  transform: scale(1.03);

  background-color: #493ffc;
  color: white;
  transition: 200ms;
}

a.about-link {
  text-decoration: none;
  font-weight: bold;
}
.about-link div:hover {
  color: #fff;
  background-color: #493ffc;
}

.turquoise {
  color: aqua;
}

@media screen and (max-width: 960px){
  .about-blurb{
    width: 45%;
    margin-left: 25vw;
    line-height: 4vh;
  }
}

@media screen and (max-width: 700px){
  .about-blurb{
    width: 65%;
    margin-left: 22.5vw;
    line-height: 4vh;
  }

}

@media screen and (max-width: 480px){
  .about-blurb{
    width: 60%;
    margin-left: 20vw;
    line-height: 4vh;
  }
}

