.home .contact {
	background: linear-gradient(to right, var(--dark-bg-color) 0%,
	var(--dark-bg-color) 50%, #fff 50%, #fff 100%);
}
.home .contact-form {
	background: linear-gradient(to right, var(--dark-bg-color) 0%,
	var(--dark-bg-color) 70%, #fff 70%, #fff 100%);
}

.home .contact-form iframe {
	border: none;
	border-radius: 0;
	margin: 0;
	padding: 0;
	background-color: var(--dark-bg-color);
}
.home .contact-form .information {
	padding: 1em;
}