.contact-title {
  font-family: Kollektif, monospace;
  font-size: 4.2vw;
  text-shadow: -3px 3px #aa82fb;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.contact-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.contact-form iframe {
  width: 0px;
  flex-basis: 65%;
  height: 70vh;
  border-radius: 20px;
}

.contact-form .information {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}
.contact-form .information img {
  width: 100%;
}
.contact-form .information > div {
  font-size: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-form .information > div a {
  color: unset;
}