.about-page h1 {
	margin-top: 1em;
}
.about-page .about {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.about-page .about img {
	max-width: 25%;
	float: right;
}

.about-page .about h1 {
	margin-top: 0;
	font-size: 2.5em;
	margin-right: 1em;
	text-transform: uppercase;
	text-orientation: upright;
	writing-mode: vertical-lr;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 5.5em;
}

.about-page .about .utfo {
	color: #6E5EFE;
	align-self: flex-end;
}

.about-page .about .blurb {
	font-size: 1.2rem;
}

@media screen and (max-width: 960px) {
	.about-page .about {
		flex-direction: column;
		align-items: center;
	}
	.about-page .about h1 {
		flex-direction: row;
		writing-mode: unset;
		height: unset;
		width: 4.5em;
	}
	.about-page .about .space {
		flex-grow: 1;
		min-width: 2em;
	}
}