@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.dev-bios * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dev-bios {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.dev-bios a {
  text-decoration: none;
}

.dev-bios .row {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  position: relative;
}

.dev-bios .card {
  width: 80%;
  max-width: 280px;
  min-width: 250px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: .75em;
  margin: 1rem;
  border-radius: 25px;
}

.dev-bios .card:hover {
  transform: scale(1.04);
  transition: all 0.5s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.dev-bios .member-img {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: double 4px transparent;
  background-image: linear-gradient(white, white),
  	linear-gradient(90deg, #833ab4, darkblue, blue, aqua);
  background-origin: border-box;
  background-clip: content-box, border-box;

}

.dev-bios .member-name, .member-position {
  text-align: center;
}

.dev-bios .member-position {
  display: flex;
  justify-content: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: small;
}

.dev-bios .member-name {
  padding-top: 1.2vh;
}

.dev-bios .member-position div {
  padding-inline: 0.15em;
  margin-inline-end: 0.5em;
  margin-top: 0.5vh;
  border-radius: 5px;
  background-color: rgba(4, 0, 255, 0.35);
  color: rgba(4, 0, 255, 1);
}


.dev-bios .socials {
  display: flex;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  justify-content: space-around;
  list-style: none;
  margin: 0 auto;
  margin-top: 0.75em;
  padding: 0;
  width: 30px;
}

.dev-bios .social-wrapper .button {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.dev-bios .social-wrapper .button:hover {
  width: 125px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
}

.dev-bios .social-wrapper .button .social-icon {
  display: inline-block;
  text-align: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  line-height: 30px;
  transition: all 0.3s ease-out;
}

.dev-bios .social-wrapper .button1:hover .social-icon {
  background: #5865f2;
}

.dev-bios .social-wrapper .button2:hover .social-icon {
  background: #333;
}

.dev-bios .social-wrapper .button3:hover .social-icon {
  background: #0072b1;
}

.dev-bios .social-wrapper .button .social-icon i {
  font-size: 18px;
  line-height: 30px;
  color: black;
}

.dev-bios .social-wrapper .button:hover .social-icon i {
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}
.dev-bios .social-wrapper .button span {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 5px;
}

.dev-bios .social-wrapper .button1 span {
  color: #5865f2;
}
.dev-bios .social-wrapper .button2 span {
  color: #333;
}
.dev-bios .social-wrapper .button3 span {
  color: #0072b1;
}