.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 15vh;
}

.logo-wrapper {
    padding: 1%;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.nav-wrapper {
    padding: 1%;
    right: 0;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

.logo {
    position: relative; 
    width: 100px; 
    height: 100px; 
    overflow: hidden; 
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
}

.logo img {
    width: 100%; 
    height: auto;
}