.about-blurb {
	width: 50%;
	color: #fff;
	background-color: #343347;
	box-shadow: 10px 15px #5CE1E6;
	margin: 2em auto;
	padding: 1em;
}
.about-blurb img {
	height: 1em;
}
.about-blurb p.quote {
	margin-top: 1em;
}

.reveal.about {
	background: linear-gradient(transparent 0%, transparent 49.9%,
		#6c63ff 50%, #6c63ff 100%);
}