.main-image {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1em 0;
}

.main-image img {
    z-index: -1;
    min-width: 50%;
    height: auto;
    object-fit: contain;
    flex-grow: 1;
}

.title-wrapper {
    display: inline-block;
    width: min-content;
    flex: 0 0;
    color: #493ffc;
}
.title-wrapper h1 {
    font-weight: normal;
}
.title-wrapper .uoft {
    font-size: 1.9rem;
}
.title-wrapper .fo {
    font-size: 3rem;
    font-weight: bold;
}