.main-image {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  padding: 2rem 0 4rem 0;
  left: 30px;
}

.main-image img {
  z-index: -1;
  min-width: 50%;
  height: auto;
  object-fit: contain;
  flex-grow: 1;
}

.main-image .text {
  display: inline-block;
  width: min-content;
  flex: 0 0;
}
.main-image .title-wrapper {
  font-weight: normal;
  color: #493ffc;
}
.main-image .title-wrapper .uoft {
  font-size: 1.9rem;
}
.main-image .title-wrapper .fo {
  font-size: 3rem;
  font-weight: bold;
}

@media screen and (max-width: 960px){
  .main-image img{
    transform: scale(0.85);
  }
}

@media screen and (max-width: 700px){
  .text{
    transform: scale(0.8);
  }
  .main-image img{
    transform: scale(0.8);
    margin-top: 5vh;
  }
  
}

@media screen and (max-width: 480px){
  .main-image{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .main-image img{
    transform: scale(0.5);
  }
  .text{
    transform: scale(0.7);
  }
  
}