@font-face {
    font-family: "Kollektif";
    src: url('../../../../src/assets/Kollektif.ttf');
  }
  span{
      display:inline-block;
      background-color: white;
      margin-right: 20%;
      word-wrap: normal;
      padding-left: 2%;
  }
  .join-title span {
    display:inline-block;
    font-family: Kollektif, monospace;
    font-size: 5.2vw;
    color: #000;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 65%;
    border-radius: 15px;
  }
  text {
    font-family: Kollektif, monospace;
  }
  
  .form-container {
    display: flex;
    width: 100%;
  }
  
  iframe {
    padding-top: 3%;
    width: 50%;
  }
  
  input, textarea {
    margin: 1vh;
    border-radius: 10px;
    width: 100%;
    font-size: 1.3vw;
    font-family: Kollektif, monospace;
    padding: 1vh;
  }
  
  input[type=submit]{
    background: #AA82FB;
    width: 30%;
    color: white;
    text-transform: uppercase;
    font-family: Kollektif, monospace;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-bottom: 0vh;
    margin-top: 2.5vh;
  }
  
  .form { 
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: Kollektif, monospace;
    height: 100%;
    width: 40vw;
    background: #CDCDFF;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
    color: white;
  }