@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
  font-family: "Kollektif";
  src: url('./assets/Kollektif.ttf');
}
@font-face {
  font-family: "Kollektif";
  src: url('./assets/Kollektif-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: "Kollektif";
  src: url('./assets/Kollektif-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: "Kollektif";
  src: url('./assets/Kollektif-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

:root {
  --fixed-width: 960px;
  --accent-color: #5CE1E6;
  --dark-bg-color: #343347;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Kollektif, monospace;
}

.inner {
  width: var(--fixed-width);
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .inner {
    width: 100%;
  }
}