.NavbarItems {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-family: Montserrat, sans-serif;
  margin-bottom: 2rem;
}
.NavbarItems .inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.4rem;
}

.navbar-logo.utfo {
  flex-grow: 1;
}
.navbar-logo a {
  color: #fff;
}

.navbar-logo .logo {
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
}

.logo img {
  width: 100%;
  height: auto;
}

.fa-react {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-left: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}

.nav-links:hover {
  background-color: #6d76f7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  body {
    overflow-x: hidden;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 100px;
    right: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #6668f4;
    right: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #7677fa;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 1rem;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #6568f4;
    transition: 250ms;
  }
}
